@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px; }

body header .fondo {
  background-image: url(../img/fondo.webp);
  opacity: 0.7;
  background-size: cover;
  height: 300px;
  width: 100%; }
  body header .fondo .logo img {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 500px; }
  body header .fondo nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
    body header .fondo nav ul {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 20px;
      opacity: none;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center; }
      body header .fondo nav ul li {
        margin: 10px;
        padding: 5px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: white; }
        body header .fondo nav ul li ul {
          flex-direction: column;
          background-color: grey;
          display: none;
          position: absolute; }
          body header .fondo nav ul li ul li {
            background-color: grey;
            margin: 10px;
            padding: 2px;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            flex-direction: column; }
      body header .fondo nav ul .verdura {
        background-color: #D9D18B; }
      body header .fondo nav ul .fruta {
        background-color: #FFC270; }
      body header .fondo nav ul .hierbas {
        background-color: #8EF075; }
  body header .fondo li:hover {
    background-color: #5FD9BC; }
  body header .fondo .nav li:hover > ul {
    display: block; }

body main #contenedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  body main #contenedor .productos_venta {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column; }
    body main #contenedor .productos_venta .img_producto {
      margin: 5px;
      width: 200px;
      height: 200px;
      border-radius: 20px 20px 0 0; }
    body main #contenedor .productos_venta .descripcion_producto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      align-items: center;
      justify-items: center;
      flex-direction: column;
      width: 200px;
      background-color: #D9D18B;
      border-radius: 0 0 20px 20px; }
      body main #contenedor .productos_venta .descripcion_producto h3 {
        font-family: "Roboto", sans-serif;
        color: whitesmoke;
        font-size: 20px;
        font-weight: bold;
        background-color: #D9D18B;
        padding: 5px;
        text-align: center; }
      body main #contenedor .productos_venta .descripcion_producto h2 {
        font-family: "Roboto", sans-serif;
        color: whitesmoke;
        font-size: 20px;
        font-weight: bold;
        background-color: #D9D18B;
        padding: 5px; }
      body main #contenedor .productos_venta .descripcion_producto p {
        font-family: "Roboto", sans-serif;
        color: whitesmoke;
        font-size: 20px;
        font-weight: bold;
        background-color: #D9D18B;
        padding: 5px; }
      body main #contenedor .productos_venta .descripcion_producto div .boton_agregar {
        font-family: "Roboto", sans-serif;
        color: whitesmoke;
        font-size: 20px;
        font-weight: bold;
        background-color: #D9D18B;
        padding: 5px; }

body main .carrito div div {
  display: flex;
  align-items: center; }
  body main .carrito div div h2 {
    font-size: 30;
    background-color: #FFC270;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white; }
  body main .carrito div div .vaciar_carrito {
    width: 100px;
    height: 100px; }

body main .carrito div div p {
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  background-color: #8EF075;
  width: 100%;
  padding: 5px;
  text-align: center; }

body main .carrito div .productos_carrito .thead tr th {
  text-align: center;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  background-color: #8EF075;
  width: 20%;
  padding: 5px; }

/*
            .lista_de_pedido{
                div{
                    h2{
                        background-color: #FFC270;
                        padding:5px;
                        text-align: center;
                        width: 100% ;
                        height: 100%;
                        color: white;
                    }
                }
                td{
                    
                    img{
                        width: 100px;
                        height: 100px;
                    }
                    color:grey;
                    font-size: 20px;
                    font-weight: bold;
                    background-color:  white;
                    width: 20%;
                    padding:5px;
                    text-align: center;
                }
                        
                    .pedido_del_cliente{
                        p{
                            color: whitesmoke;
                            font-size: 30px;
                            font-weight: bold;
                            background-color:  #8EF075;
                            width: 100%;
                            padding:5px;
                            text-align: center;
                        }
                        table{
                            .thead{
                                tr{
                                    text-align: center;
                                    color: whitesmoke;
                                        font-size: 30px;
                                        font-weight: bold;
                                        background-color:  white;
                                        width: 20%;
                                        padding:5px;
                                    td{
                                        color: whitesmoke;
                                        font-size: 20px;
                                        font-weight: bold;
                                        background-color:  #8EF075;
                                        width: 20%;
                                        padding:5px;
                                        ;
                                    }
                                }
                            }
                        }
                    }


                }
                */
